<script setup lang="ts">
defineProps<{
  tableActive?: string
}>()
</script>
<style scoped lang="scss">
.column.is-narrow {
  background: #d4e1ee;
}
</style>
<template>
  <Transition name="slide-fade">
    <div class="column is-narrow" v-if="tableActive === 'true'">
      <aside class="menu">
        <p class="menu-label">
          <button v-show="tableActive === 'true'" class="button" @click="$emit('setTableActiveEvent')">Ukryj menu
          </button>
        </p>
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li>
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-home has-text-link"></i>
              </span>
              <span>Home</span>
            </span>
          </li>
          <li><a>Customers</a></li>
        </ul>
        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li><a>Team Settings</a></li>
          <li>
            <a class="is-active">Manage Your Team</a>
            <ul>
              <li><a>Members</a></li>
              <li><a>Plugins</a></li>
              <li><a>Add a member</a></li>
            </ul>
          </li>
          <li><a>Invitations</a></li>
          <li><a>Cloud Storage Environment Settings</a></li>
          <li><a>Authentication</a></li>
        </ul>
        <p class="menu-label">
          Transactions
        </p>
        <ul class="menu-list">
          <li><a>Payments</a></li>
          <li><a>Transfers</a></li>
          <li><a>Balance</a></li>
        </ul>
      </aside>
    </div>
  </Transition>
</template>