<script setup lang="ts">
import axios from "axios";
import { inject } from 'vue'
import {ref} from "vue";
import { useUserStore } from '@/stores/user'
import {postsRepository} from "@/repository/PostRepository";

const data = ref<object>({})
const tableActive = ref<boolean>(false)
const user = useUserStore()
const vaxios: any = inject('axios')  // inject axios

const getData = async () => data.value = await postsRepository.getPosts()
user.logout()
user.login('ed', 'ed')
// @ts-ignore
 //window.stores = { user }
//axios.defaults.headers.common['Authorization'] = 'Bearer ey34034'

/*const getData = async () => {
  data.value = await vaxios.get('https://jsonplaceholder.typicode.com/posts')
      .then(res => res.data)
      .catch(error => error.msg)
}*/


defineProps<{
  msg: string
}>()
</script>

<template>
  <div class="greetings">
    <h1 class="green">{{ msg }}</h1>
    <h2>Hello {{ user.name }}</h2>
    <h1 class="green" @click="()=>{getData();tableActive = !tableActive}">Test table button - CLICK!</h1>
    <button v-show="!tableActive" class="button" @click="()=>{getData();tableActive = !tableActive}">Test table button - CLICK!</button>
    <h3>

      You’ve successfully created a project with
      <a target="_blank" href="https://vitejs.dev/">Vite</a> +
      <a target="_blank" href="https://v3.vuejs.org/">Vue 3</a>. What's next?
    </h3>
  </div>
  <div v-show="data.length > 0 && tableActive">
    <button v-show="tableActive" class="button" @click="tableActive = !tableActive">Hide it</button>
    <table class="table">
      <thead>
      <tr>
        <th><abbr title="Post title">Title</abbr></th>
        <th>Body</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th><abbr title="Post title">Title</abbr></th>
        <th>Body</th>
      </tr>
      </tfoot>
      <tbody>
      <tr v-for="(item) in data" :key="item.id">
        <td>{{ item.title }}</td>
        <td> {{ item.body }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>

</style>
