@charset "utf-8";
@import "../../node_modules/bulma/bulma";

#head {
  overflow: auto;
}

/* Fire-Fox Scrollbar */
:root{
  scrollbar-face-color: #1524ab; /* Firefox 63 compatibility */
  scrollbar-track-color: #d4e1ee;
  scrollbar-color: #1524ab #d4e1ee;
  scrollbar-width: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d4e1ee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1524ab;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
// NAV vue router active class
.navbar {
  background-color: rgba(89, 134, 245, 0.41);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
@media screen and (min-width: 1024px) {
  .navbar > .container .navbar-brand, .container > .navbar .navbar-brand {
    margin-left: 0;
  }
}
nav {
  a {
    padding: $menu-list-link-padding;

    &.router-link-active {
      background-color: $menu-item-active-background-color;
      color: $menu-item-active-color;
    }
  }

}
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
.cent-fade-enter-from,
.cent-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}