<script setup lang="ts">
import HelloWorld from '@/components/HelloWorld.vue'
import {onBeforeMount, onMounted, ref} from "vue";
import LeftMenu from "@/components/BaseLayout/LeftMenu.vue";

const tableActive = ref<string>('true')


onBeforeMount(() => {
  if (typeof localStorage.tableActive !== 'undefined') {
    tableActive.value = localStorage.tableActive;
    console.log('get ' + tableActive.value)
  }
})
const setTableActive = () => {
  if (tableActive.value === 'true') {
    tableActive.value = 'false'
  } else if (tableActive.value === 'false') {
    tableActive.value = 'true'
  }
  localStorage.tableActive = tableActive.value;
}
</script>
<style lang="scss" scoped>
.fa-book-open {
  color: #1524ab;
}

</style>

<template>
  <nav class="navbar level is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-family-secondary">
      <a class="navbar-item" href="https://bulma.io">
        <i class="fas fa-book-open fa-2x"></i>
        <strong class="pl-1">EGO</strong>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" data-target="collapse">
        <span aria-hidden="true"/>
        <span aria-hidden="true"/>
        <span aria-hidden="true"/>
      </a>
    </div>
    <!-- Left side -->
    <div class="navbar-menu is-paddingless level-left">
      <p class="level-item">
        <router-link to="/">Home</router-link>
      </p>
      <p class="level-item">
        <router-link to="/about">About</router-link>
      </p>
    </div>
  </nav>
  <div class="columns">
    <LeftMenu :table-active="tableActive" @set-table-active-event="setTableActive"></LeftMenu>
    <div class="column main">
      <button v-show="tableActive === 'false'" class="button" @click="setTableActive"> Pokaż menu</button>
      <HelloWorld msg="hi"></HelloWorld>
      <router-view/>
    </div>

  </div>
</template>

<style lang="scss">
@import '@/assets/style.scss';

</style>
